{% extends 'uniWebNoticiasBundle::layout.html.twig' %}

{% block central %}
    

    {#<div class="colesqizq"> <div> 
    <div class="colcentr">#}
 
    {%for unafila in tabla%} 
      
     <div class="col#{unafila}">
                                 
         <h1><a href="{{path('uni_web_noticias_not',{'titulo': unafila.titulo,'texto': unafila.texto,'autor':unafila.autor,'foto': unafila.foto} )}}">
                    {{ unafila.titulo }}
             </a></h1>
            <br>
            <img src="{{ asset('bundles/uniwebnoticias/img/'~ unafila.foto  ~ '') }}" width='10%' heigth='10%'/>    
           <br> {{ unafila.texto | truncate (100)}}           
    </div>
    {%endfor%}
            
   {# </div>#}
            
    {#<div class="colesqdcha"> <div>#}
{% endblock %}
