{% extends 'uniWebNoticiasBundle::layout.html.twig' %}

{% block central %}
    
<h1>PAGINA ESTATICA ABOUT</h1>

  
           <br><br><br><br>
        <a href="{{
                   path('uni_web_noticias_homepage' )
                   }}"> Volver atras</a>

{% endblock %}
